@import url('https://fonts.googleapis.com/css?family=Noto+Sans:300|Raleway:300,400,500&display=swap');

body {
    font-family: 'Noto Sans', sans-serif;
    color: $color_text;
}

h1, h2, h3, h4 {
    font-family: 'Raleway', sans-serif !important;
}
