//@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
//@import url('https://fonts.googleapis.com/css?family=Comfortaa:300,400,700&amp;subset=greek');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500');
//@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

body {
    //font-family: 'Roboto', sans-serif;
    //font-family: 'Comfortaa', cursive;
    font-family: 'Raleway', sans-serif;
    //font-family: 'Lato', sans-serif !important;
    //font-size: 20px;
    color: $color_text;
}

h1, h2, h3, h4 {
    font-family: 'Montserrat', sans-serif !important;
    //font-family: 'Raleway', sans-serif !important;
}
