@import '../../sass/theme/theme-variables';

.grid {
  position: relative;
  &__content {
  }
}
.single-offer {
  flex: 1 1 49%;
  padding-bottom: 30px;
  margin: 0 5px;
  .desc {
    margin-left: 12px;
  }
  h3, h4 {
    margin-bottom: 15px;
  }
  .icon {
    height: 40px;
    margin: 24px;
    img {
      height: 100%;
      width: auto;
    }
  }
}
