@import '../../sass/theme/theme-variables';

.cards {
  background: $light-grey;
  &__wrapper {
    display: grid;
    overflow: hidden;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 1fr;
    grid-column-gap: 24px;
    grid-row-gap: 20px;
    @media (min-width: 992px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  &__heading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 80%;
    h2{
      font-size: 2.57rem;
      width: 60%;
      color: $green;
    }
    img {
      transform: rotate(10deg);
      &:hover {
        transform: rotate(-10deg);
      }
    }
  }
}

.card {
  display: block;
  height: 100%;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.51;
  padding: 30px 30px 30px 30px;
  position: relative;
  overflow: hidden;
  &__title {
    display: block;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 1.5px;
    color: $green;
  }
  h4 {
    margin-bottom: 8px;
  }
  p {
    max-width: 320px;
    margin-bottom: 14px;
    color: $black;
  }
  img {
    position: absolute;
    bottom: 30px;
    right: 15px;
    width: auto;
    height: 48px;
  }
  &__more {
    color: $primary-color;
    font-weight: 600;
    position: relative;
    &:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -5px;
      width: 0;
      height: 100%;
      border-bottom: 2px solid $primary-color;
    }
  }
  &:hover .card__heading {
    color: $green;
  }
}
