@import '../../sass/theme/theme-variables';

.image-text {
  overflow: hidden;
  &__image {
    min-height: 450px;
    height: 100%;
    max-height: 600px;
    background-position: center center;
    background-repeat: no-repeat;
    @media (max-width: 992px) {
      margin-bottom: 40px;
    }
    @media (max-width: 480px){
      min-height: 200px;
    }
  }
  &__text {
    h6 {
      text-transform: uppercase;
      color: $primary-color;
      font-weight: 400;
      margin-bottom: 20px;
      letter-spacing: 1.5px;
    }
    p {
      margin: 24px 0 18px;
      font-size: 1.075rem;
    }
  }

  .primary-btn {
    text-transform: uppercase;
    border-radius: 0;
    padding-right: 30px;
    background-color: $primary-color;
    color: $white;
    border: 1px solid transparent;
    &:hover {
      background-color: transparent;
      color: $primary-color;
      border: 1px solid $primary-color;
    }
  }
}
