@import "../../sass/theme/theme-variables";

.callto-action-area {
  padding: 180px 0;
  background-size: cover;
  .primary-btn {
    text-transform: uppercase;
    border-radius: 0;
    padding-right: 30px;
    background-color: $primary-color;
    color: $white;
    border: 1px solid transparent;
    transition: all 0.3s ease 0s;
    &:hover {
      background-color: transparent;
      color: $white;
      border: 1px solid $white;
    }
  }
  .overlay-bg {
    //background: rgba(#04091e, .5);
    background-image: radial-gradient(ellipse farthest-side at 100% 100%,#dbf6c8 20%,#1cafc6 50%,#012690 110%);
    opacity: 0.7;
  }
}
.callto-action-area p {
  font-size: 1.2rem;
}
