@import "../../sass/theme/theme-variables";

.callto-action-area {
  background-image: url(https://image.shutterstock.com/z/stock-photo-wave-of-particles-futuristic-blue-dots-background-with-a-dynamic-wave-big-data-d-rendering-1208236762.jpg);
  .primary-btn {
    text-transform: capitalize;
    border-radius: 0;
    padding-right: 30px;
    background-color: $primary-color;
    color: $white;
    border: 1px solid transparent;
    transition: all 0.3s ease 0s;
    &:hover {
      background-color: transparent;
      color: $primary-color;
      border: 1px solid $primary-color;
    }
  }
}
