@import '../../sass/theme/theme-variables';

.header {
  padding: 14px 0;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 2;
  &.header-scrolled,
  &.mobile-menu-visible {
    box-shadow: -21.213px 21.213px 30px 0px rgba(158, 158, 158, 0.3);
    background: $white;
    transition: all 0.5s;
    .nav-menu a,
    .menu-has-children__title {
      color: $primary-color;
    }
    //.nav-submenu a {
    //  color: $accent-color;
    //}
    #path22,
    #path24,
    #path26 {
      fill: $primary-color !important;
    }
    .nav__toggle {
      color: $primary-color;
    }
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Nav Menu Essentials */
.nav-menu,
.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu li {
  position: relative;
  white-space: nowrap;
}

.nav-menu > li {
  float: left;
}

.nav-menu li:hover .nav-submenu {
  @media (min-width: 991px) {
    opacity: 1;
    top: 20px;
    transform: translateY(0);
    visibility: visible;
  }
}

// TODO: i added this one, classes in nav must be revised
.nav-menu li.menu-has-children span {
  margin-right: 4px;
}

.menu-has-children__title {
  padding: 0 8px 0px 8px;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  font-weight: 400;
  font-size: 1rem;
  text-transform: uppercase;
  outline: none;
  font-family: 'Raleway', sans-serif;
  cursor: default;
  transition: all 0.3s ease 0s;
}

/* Nav Menu Arrows */
//.sf-arrows .sf-with-ul {
//  padding-right: 30px;
//}
//
//.sf-arrows .sf-with-ul:after {
//  content: "\f107";
//  position: absolute;
//  right: 15px;
//  font-family: FontAwesome;
//  font-style: normal;
//  font-weight: normal;
//}
//
//.sf-arrows ul .sf-with-ul:after {
//  content: "\f105";
//}

// Navigation
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__logo {
    z-index: 1;
    svg {
      max-height: 30px;
      width: auto;
      @media screen and (max-width: 767px) {
        max-height: 20px;
      }
    }
    #path22,
    #path24,
    #path26 {
      fill: $white !important;
    }
  }
  &__toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;
    z-index: 1;
    height: 25px;
    width: 25px;
    @media (min-width: 992px) {
      display: none;
    }
    & svg {
      height: 20px;
      width: auto !important;
      @media (max-width: 767px) {
        height: 15px;
      }
    }
    & .mobile-menu-visible {
      color: $primary-color;
    }
  }
  &__menu {
    margin: 0 0 -14px 0;
    display: none;
    @media (min-width: 992px) {
      display: block;
    }
    &--mobile {
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100%;
      background: $white;
      padding: 50px 0 0 0;
      overflow: scroll;
      z-index: 0;
      &:before {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        background: $white;
        height: 50px;
        width: 100vw;
        z-index: 1;
      }
      .nav-menu > li {
        float: none;
        margin: 0;
        padding: 30px 12px 20px;
      }
      .nav-menu a,
      h5 {
        color: $primary-color;
        font-size: 1.7rem;
        text-transform: capitalize;
        font-weight: 500;
      }
      .nav-submenu {
        display: flex;
        flex-direction: column;
        top: 0;
        left: 0;
        width: 100vw;
        visibility: visible;
        box-shadow: none;
        position: relative;
        opacity: 1;
        margin: 0 0 0 -12px;
        padding: 0;
        border-radius: 0;
        background: $grey;
        @media (min-width: 768px) {
          flex-direction: row;
        }
        & li {
          border-bottom: 1px solid $white;
        }
        & li a {
          padding: 8px 32px;
        }
        &__col {
          padding: 0;
          width: 100%;
          h6 {
            padding: 12px 12px 5px 32px;
            font-size: 0.8rem;
          }
        }
      }
    }
  }
}

//@media (max-width: 1023px) {
//  #mobile-nav-toggle {
//    display: inline;
//  }
//  #nav-menu-container {
//    display: none;
//  }
//}

/* Nav Meu Styling */
.nav-menu a {
  padding: 0 8px 0px 8px;
  text-decoration: none;
  display: inline-block;
  color: $white;
  font-weight: 400;
  font-size: 1rem;
  text-transform: uppercase;
  outline: none;
  font-family: $secondary-font;
}

.nav-menu li:hover > a,
.nav-menu > .menu-active > a {
  color: $white;
}

.nav-menu > li {
  margin-left: 15px;
}

.nav-menu a:hover {
  text-decoration: underline !important;
}

.nav-menu img {
  height: 16px;
  margin-right: 8px;
}

// Submenu
.nav-submenu {
  display: flex;
  top: -500px;
  left: -230px;
  width: 552px;
  transform: translateY(17px);
  visibility: hidden;
  will-change: transform, opacity;
  transition: top 0s, transform 0.27s ease, opacity 0.27s ease,
    visibility 0.27s ease;
  box-shadow: 0 12px 20px 0 rgba(23, 28, 33, 0.16);
  position: absolute;
  opacity: 0;
  transition-delay: 0.25s;
  margin: 25px 0 0 0;
  padding: 5px;
  background: $white;
  border-radius: 5px;
  & li {
    min-width: 180px;
    text-align: left;
    transition: 0.3s;
  }
  & li a {
    padding: 12px 10px;
    color: $accent-color;
    font-weight: 500;
    transition: 0.3s;
    display: flex;
    font-size: 1rem;
    text-transform: none;
  }
  &:after {
    content: '';
    position: absolute;
    pointer-events: none;
    bottom: 100%;
    left: 267px;
    height: 0;
    width: 0;
    border-bottom: 7px solid #fff;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
  }
  & a:hover {
    color: $accent-color !important;
  }
  &__col {
    display: block;
    width: 50%;
    height: 100%;
    padding: 10px 8px 30px;
    &:first-of-type {
      border-right: 1px solid $grey;
    }
    h6 {
      text-transform: uppercase;
      font-weight: 500;
      padding: 10px 10px 15px;
      color: $dark-grey;
      font-size: 0.9rem;
    }
    img {
      align-self: center;
      height: 24px;
      margin-right: 18px;
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
    & span:first-of-type {
      font-weight: 600;
      font-size: 1rem;
    }
    & span:last-of-type {
      //font-weight: 600;
      font-size: 0.9rem;
      color: $dark-grey;
    }
  }
}

/* Mobile Nav Toggle */
#mobile-nav-toggle {
  position: fixed;
  right: 15px;
  z-index: 999;
  top: 16px;
  border: 0;
  background: none;
  font-size: 1.2rem;
  display: none;
  transition: all 0.4s;
  outline: none;
  cursor: pointer;
  color: $white;
}

//#mobile-nav-toggle i {
//  color: $primary-color;
//  font-weight: 900;
//}

/* Mobile Nav Styling */
#mobile-nav {
  position: fixed;
  top: 0;
  padding-top: 18px;
  bottom: 0;
  z-index: 998;
  background: rgba(0, 0, 0, 0.8);
  left: -20vw;
  width: 20vw;
  overflow-y: auto;
  transition: 0.4s;
}

#mobile-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#mobile-nav ul li {
  position: relative;
}

#mobile-nav ul li a {
  text-transform: uppercase;
  overflow: hidden;
  padding: 10px 22px 10px 15px;
  position: relative;
  text-decoration: none;
  width: 100%;
  display: block;
  outline: none;
}

#mobile-nav ul li a:hover {
}

#mobile-nav ul li li {
  padding-left: 30px;
}

//#mobile-nav ul .menu-has-children i {
//  position: absolute;
//  right: 0;
//  z-index: 99;
//  padding: 15px;
//  cursor: pointer;
//  color: #fff;
//}
//
//#mobile-nav ul .menu-has-children i.fa-chevron-up {
//  color: $primary-color;
//}
//
//#mobile-nav ul .menu-has-children li a {
//  text-transform: none;
//}

#mobile-nav ul .menu-item-active {
  color: $primary-color;
}

/* Mobile Nav body classes */
body.mobile-nav-active {
  overflow: hidden;
}

body.mobile-nav-active #mobile-nav {
  left: 0;
}

body.mobile-nav-active #mobile-nav-toggle {
  color: #fff;
}
