@import '../../sass/theme/theme-variables';

.header {
  padding: 14px 0;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 2;
  &.header-scrolled,
  &.mobile-menu-visible {
    box-shadow: -21.213px 21.213px 30px 0px rgba(158, 158, 158, 0.3);
    background: $white;
    transition: all 0.5s;
    .nav-menu a,
    .menu-has-children__title {
      color: $primary-color;
    }
    #path22,
    #path24,
    #path26 {
      fill: $primary-color !important;
    }
    .nav__toggle {
      color: $primary-color;
    }
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Nav Menu Essentials */
.nav-menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu li {
  position: relative;
  //white-space: nowrap;
}

.nav-menu > li {
  float: left;
}

.nav-menu li:hover .nav-submenu {
  @media (min-width: 991px) {
    opacity: 1;
    top: 20px;
    transform: translateY(0);
    visibility: visible;
  }
}

.menu-has-children__title {
  padding: 0 8px 0 8px;
  text-decoration: none;
  display: inline-block;
  color: $white;
  outline: none;
  font-family: $secondary-font;
  cursor: default;
  transition: all 0.3s ease 0s;
  text-transform: capitalize;
  font-weight: 400;
  font-size: 1.1rem;
}

// Navigation
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__logo {
    z-index: 1;
    svg {
      max-height: 30px;
      width: auto;
      @media screen and (max-width: 767px) {
        max-height: 20px;
      }
    }
    #path22,
    #path24,
    #path26 {
      fill: $white !important;
    }
  }
  &__toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;
    z-index: 1;
    height: 25px;
    width: 25px;
    @media (min-width: 992px) {
      display: none;
    }
    & svg {
      height: 20px;
      width: auto !important;
      @media (max-width: 767px) {
        height: 15px;
      }
    }
    & .mobile-menu-visible {
      color: $primary-color;
    }
  }
  &__menu {
    margin: 0 0 -14px 0;
    display: none;
    @media (min-width: 992px) {
      display: block;
    }
    &--mobile {
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100%;
      background: $white;
      padding: 50px 0 0 0;
      overflow: scroll;
      z-index: 0;
      &:before {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        background: $white;
        height: 50px;
        width: 100vw;
        z-index: 1;
      }
      .nav-menu > li {
        float: none;
        margin: 0;
        padding: 30px 12px 20px;
      }
      .nav-menu a,
      h5 {
        color: $primary-color;
        font-size: 1.7rem;
        font-weight: 500;
        text-decoration: none !important;
      }
      .nav-submenu {
        display: flex;
        flex-direction: column;
        top: 0;
        left: 0;
        width: 100vw;
        visibility: visible;
        box-shadow: none;
        position: relative;
        opacity: 1;
        margin: 0 0 0 -12px;
        padding: 0;
        border-radius: 0;
        background: $grey;
        @media (min-width: 768px) {
          flex-direction: row;
        }
        & li {
          border-bottom: 1px solid $white;
        }
        & li a,
        a:focus,
        a:hover {
          padding: 8px 32px;
          text-decoration: none;
        }
        &__item {
          color: $black;
        }
        &__col {
          padding: 0;
          width: 100%;
          h6 {
            padding: 12px 12px 5px 32px;
            font-size: 0.8rem;
          }
        }
      }
    }
  }
}

/* Nav Meu Styling */
.nav-menu a {
  padding: 0 8px 0 8px;
  text-decoration: none;
  display: inline-block;
  color: $white;
  outline: none;
  font-family: $secondary-font !important;
  text-transform: capitalize;
  font-weight: 400;
  font-size: 1.1rem;
}

.nav-menu li:hover > a,
.nav-menu > .menu-active > a {
  color: $white;
}

.nav-menu > li {
  margin-left: 15px;
}

.nav-menu a:hover {
  text-decoration: underline;
}

.nav-menu img {
  height: 16px;
  margin-right: 8px;
}

// Submenu
.nav-submenu {
  display: flex;
  top: -5000px;
  left: -230px;
  width: 552px;
  transform: translateY(17px);
  visibility: hidden;
  will-change: transform, opacity;
  transition: top 0s, transform 0.27s ease, opacity 0.27s ease,
    visibility 0.27s ease;
  box-shadow: 0 12px 20px 0 rgba(23, 28, 33, 0.16);
  position: absolute;
  opacity: 0;
  transition-delay: 0.25s;
  margin: 25px 0 0 0;
  padding: 5px;
  background: $white;
  border-radius: 5px;
  &--compact {
    flex-direction: column;
    left: -95px;
    width: 276px;
    padding-bottom: 20px;
    .nav-submenu__col {
      width: 100%;
      border: none !important;
      padding: 10px 8px 5px
    }
    &:after {
      left: 126px !important;
    }
  }
  & li {
    min-width: 180px;
    text-align: left;
    transition: 0.3s;
  }
  & li a {
    padding: 12px 10px;
    color: $accent-color;
    font-weight: 400;
    transition: 0.3s;
    display: flex;
    font-size: 1rem;
    text-transform: none;
  }
  &:after {
    content: '';
    position: absolute;
    pointer-events: none;
    bottom: 100%;
    left: 267px;
    height: 0;
    width: 0;
    border-bottom: 7px solid #fff;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
  }
  & a:hover {
    color: $accent-color !important;
  }
  &__col {
    display: block;
    width: 50%;
    height: 100%;
    padding: 10px 8px 30px;
    &:first-of-type {
      border-right: 1px solid $grey;
    }
    h6 {
      text-transform: uppercase;
      font-weight: 500;
      padding: 10px 10px 15px;
      color: $dark-grey;
      font-size: 0.9rem;
    }
    img {
      align-self: center;
      height: 24px;
      margin-right: 18px;
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
    & span:first-of-type {
      font-weight: 500;
      font-size: 1rem;
    }
    & span:last-of-type {
      font-size: 0.9rem;
      color: $dark-grey;
    }
  }
}
