@import '../../sass/theme/theme-variables';

.footer {
  padding: 45px 0;
  background-color: $dark-color;
  color: $white;
  &__text {
    margin: 0;
    color: $grey;
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    @media (max-width:767px) {
      text-align: center;
    }
  }
  &__social {
    text-align: right;
    a {
      background: $dark-color;
      width: 40px;
      display: inline-table;
      height: 40px;
      text-align: center;
      padding-top: 10px;
      color: $grey;
      font-size: 1.3rem;
      &:hover {
        background-color: $grey;
        color: $dark-color;
      }
    }

    i {
      color: #cccccc;
      //@include transition();

    }
    @media (max-width:767px) {
      text-align: center;
      margin: 20px 0;
    }
  }
  &__address {
    text-align: right;
    @media screen and (max-width: 767px) {
      text-align: center;
    }
    h5 {
      font-family: $secondary-font !important;
      color: $white;
    }
    &__icon {
      @media screen and (max-width: 767px) {
        display: none;
      }
    }
  }
  &__contact {
    margin-bottom: 40px;
    @media screen and (max-width: 767px) {
      margin-bottom: 20px;
    }
  }
  &__logo {
    align-self: start;
    @media screen and (max-width: 767px) {
      margin-left: 15px;
      display: none;
    }
    img {
      padding: 0;
      margin: 0;
      max-height: 30px;
      @media screen and (max-width: 767px) {
        max-height: 20px;
        margin-bottom: 20px;
      }
    }
  }
}

.footer-bottom {
  //padding-top: 80px;
}

.footer-text {
  a {
    color: white;
    text-decoration: underline;
  }
}

