@import '../../sass/theme/theme-variables';

.footer {
  padding-top: 45px;
  background-color: $dark-color;
  color: $white;
  &__logo {
    align-self: start;
    @media screen and (max-width: 767px) {
      margin-left: 15px;
      display: none;
    }
    img {
      padding: 0;
      margin: 0;
      max-height: 30px;
      @media screen and (max-width: 767px) {
        max-height: 20px;
        margin-bottom: 20px;
      }
    }
  }
  &__social {
    white-space: nowrap;
    margin: 12px 0 0 -8px;
    @media (max-width: 767px) {
      text-align: center;
      margin: 8px 0;
    }
    a {
      background: $dark-color;
      width: 40px;
      display: inline-table;
      height: 40px;
      text-align: center;
      padding-top: 10px;
      color: $grey;
      font-size: 1.3rem;
      &:hover {
        background-color: $grey;
        color: $dark-color;
      }
    }
    i {
      color: #cccccc;
    }
  }
  &__text {
    margin: 24px 0 12px;
    color: $grey;
    font-size: 0.8rem;
    @media (max-width: 767px) {
      margin: 12px 0;
    }
    @media (max-width: 991px) {
      text-align: center;
    }
  }
  &__menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-family: $secondary-font;
    @media (max-width: 767px) {
      flex-direction: column;
    }
    h5 {
      color: $white;
      font-family: $secondary-font;
    }
    a {
      color: $white;
      &:hover {
        color: $white;
        text-decoration: underline;
        @media (max-width: 991px) {
          text-decoration: none;
        }
      }
    }
    &__col {
      margin: 0  0 0 56px;
      @media (max-width: 767px) {
        text-align: center;
        margin: 0 0 24px 0;
      }
      @media (max-width: 991px) {
        margin-left: 30px;
      }
      &__split {
        display: flex;
        justify-content: space-between;
        @media (max-width: 767px) {
          flex-direction: column;
        }
        ul:first-of-type {
          margin-right: 30px;
          @media (max-width: 767px) {
            margin-right: 0;
          }
        }
        li {
          white-space: nowrap;
        }
      }
    }
    &__item {
      margin: 8px 0;
      font-size: 0.9rem;
    }
  }
}
