@import '../../sass/theme/theme-variables';

.image-text {
  background-color: $white;
  overflow: hidden;
  @media screen and (max-width: 767px) {
    padding: 40px 0;
  }

  .primary-btn {
    text-transform: uppercase;
    border-radius: 0;
    padding-right: 30px;
    background-color: $primary-color;
    color: $white;
    border: 1px solid transparent;
    &:hover {
      background-color: transparent;
      color: $primary-color;
      border: 1px solid $primary-color;
    }
  }
}

.graph {
  min-height: 550px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.nodes {
  position: relative;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  height: 100%;
  width: 100%;
  &:before {
    content: "";
    position: absolute;
    top: calc(50% - 32px);
    left: calc(50% - 30px);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: white;
    z-index: 1;
    box-shadow: 0 14px 24px 0 rgba(160,161,188,.4);
  }
  &__image {
    width: 60px;
    height: 60px;
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: calc(50% - 32px);
    left: calc(50% - 30px);
    z-index: 1;
  }
}

.node {
  position: relative;
  &:before {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0 14px 24px 0 rgba(160,161,188,.4);
  }
  &__image {
    width: 60px;
    height: 60px;
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    &--1 {
      bottom: -30px;
      left: -31px;
      transform: rotate(-10deg);
    }
    &--2 {
      top: -30px;
      left: -31px;
      transform: rotate(-10deg);
    }
    &--3 {
      bottom: -30px;
      right: -31px;
      transform: rotate(20deg);
    }
    &--4 {
      top: -30px;
      right: -31px;
      transform: rotate(25deg);
    }
  }
  &--1 {
    transform-origin: bottom right;
    border-bottom: 1px solid $primary-color;
    animation-name: rotate1;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    &:before {
      bottom: -30px;
      left: -31px;
    }
  }
  &--2 {
    transform-origin: bottom left;
    border-left: 1px solid $primary-color;
    animation-name: rotate1;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    &:before {
      top: -30px;
      left: -31px;
    }
  }
  &--3 {
    transform-origin: top right;
    border-right: 1px solid $primary-color;
    animation-name: rotate2;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    &:before {
      bottom: -30px;
      right: -31px;
    }
  }
  &--4 {
    transform-origin: top left;
    border-top: 1px solid $primary-color;
    animation-name: rotate3;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    &:before {
      top: -30px;
      right: -31px;
    }
  }
}

.container .text-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .image-text .container .image-wrap .image {
    min-height: 300px;
    width: 100%;
    max-width: 100%;
  }
}

.container {
  padding-left: 12px;
  padding-right: 12px;
}

.text-container {
  h6 {
    text-transform: uppercase;
    color: $primary-color;
    font-weight: 400;
    margin-bottom: 20px;
    letter-spacing: 1.5px;
  }
  p {
    font-size: 1.2rem;
    margin: 24px 0 18px;
  }
}

@keyframes rotate1 {
  from {
    transform: rotate(10deg);
  }

  to {
    transform: rotate(13deg);
  }
}

@keyframes rotate2 {
  from {
    transform: rotate(-18deg);
  }

  to {
    transform: rotate(-22deg);
  }
}

@keyframes rotate3 {
  from {
    transform: rotate(-25deg);
  }

  to {
    transform: rotate(-30deg);
  }
}
