@import '../../sass/theme/theme-variables';

.image-text {
  background: $light-grey;
  overflow: hidden;
  @media screen and (max-width: 767px) {
    padding: 40px 0;
  }

  .primary-btn {
    text-transform: uppercase;
    border-radius: 0;
    padding-right: 30px;
    background-color: $primary-color;
    color: $white;
    border: 1px solid transparent;
    &:hover {
      background-color: transparent;
      color: $primary-color;
      border: 1px solid $primary-color;
    }
  }
}

.graph {
  background: $light-grey;
  min-height: 500px;
}

.nodes {
  position: relative;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  height: 100%;
  width: 100%;
  &:after {
    content: "";
    position: absolute;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: white;
  }
}

.node {
  position: relative;
  &:after {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: white;
  }
  &--1 {
    transform: rotate(10deg);
    transform-origin: bottom right;
    border-bottom: 1px solid white;
    &:after {
      bottom: -25px;
      left: -25px;
    }
  }
  &--2 {
    transform: rotate(10deg);
    transform-origin: bottom left;
    border-left: 1px solid white;
    &:after {
      top: -25px;
      left: -25px;
    }
  }
  &--3 {
    transform: rotate(1deg);
    transform-origin: top right;
    border-right: 1px solid white;
    &:after {
      bottom: -25px;
      right: -25px;
    }
  }
  &--4 {
    transform: rotate(-25deg);
    transform-origin: top left;
    border-top: 1px solid white;
    &:after {
      top: -25px;
      right: -25px;
    }
  }
}

.container .text-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .image-text .container .image-wrap .image {
    min-height: 300px;
    width: 100%;
    max-width: 100%;
  }
}

.container {
  padding-left: 12px;
  padding-right: 12px;
}

.text-container {
  h6 {
    text-transform: uppercase;
    color: $primary-color;
    font-weight: 400;
    margin-bottom: 20px;
    letter-spacing: 1.5px;
  }
  p {
    font-size: 1.2rem;
    margin: 24px 0 18px;
  }
}
