@import '../../sass/theme/theme-variables';

.banner {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  &__bg {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(
      ellipse farthest-side at 100% 100%,
      #1cafc6 20%,
      #012690 110%
    );
    &__img {
      height: 100%;
      width: 100%;
      background-image: url('/images/abstract-colorful-wall-of-orange-and-blue.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      opacity: 0.1;
    }
  }
  &__wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
  }
  &__text {
    color: white;
    font-size: 1.1rem;
    z-index: 1;
    @media (max-width: 414px) {
      font-size: 0.9rem;
    }
    &__headline {
      display: block;
      color: white;
      font-weight: 500;
      letter-spacing: 1.5px;
      text-transform: uppercase;
      @media (max-width: 1199px) {
        font-size: 0.9rem;
      }
      @media (max-height: 479px) {
        display: none;
      }
    }
    &__heading {
      color: white;
      font-size: 5.5rem;
      font-weight: 500;
      margin-top: 20px;
      // The order of these media queries matters, do not reorder
      @media (max-width: 1199px) {
        font-size: 4rem;
      }
      // Fix for low resolution screens e.g. 1366x768
      @media (max-height: 768px) {
        font-size: 4rem;
      }
      @media (max-height: 479px) {
        font-size: 2.5rem;
      }
      @media (max-width: 479px) {
        font-size: 2.5rem;
      }
    }
    &__body p {
      padding: 20px 0;
      font-size: 1.5rem;
      line-height: 2.6rem;
      @media (max-width: 1199px) {
        font-size: 1.2rem;
        line-height: 2rem;
      }
      @media (max-width: 479px) {
        font-size: 1rem;
        line-height: unset;
      }
      a {
        color: $white;
        margin: 4px;
        position: relative;
        @media (max-width: 1199px) {
          text-decoration: underline;
        }
        &:after {
          content: '';
          background: $white;
          position: absolute;
          bottom: -2px;
          left: 0;
          width: 100%;
          height: 2px;
          @media (max-width: 1199px) {
            opacity: 0;
            visibility: hidden;
          }
        }
        &:hover {
          color: $red;
          &:after {
            content: '';
            background: white;
            position: absolute;
            bottom: -2px;
            left: 0;
            width: 0;
            height: 2px;
            animation: underline 0.2s linear;
          }
        }
      }
    }
    .primary-btn {
      text-transform: uppercase;
      border-radius: 0;
      padding-right: 30px;
      background-color: $primary-color;
      color: $white;
      border: 1px solid transparent;
      @media (max-width: 1199px) {
        font-size: 0.9rem;
      }
      &:hover {
        background-color: transparent;
        color: $white;
        border: 1px solid $white;
      }
    }
  }
  &__chord {
    position: absolute;
    top: 0;
    right: -40%;
    height: 100%;
    width: 100%;
    @media (min-width: 1600px) {
      right: -10%;
    }
  }
}

.blink {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

@keyframes underline {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}
