@import '../../sass/theme/theme-variables';

.banner {
  position: relative;
  height: 100%;
  &__bg {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(ellipse farthest-side at 100% 100%,#1cafc6 20%,#012690 110%);
    &__img {
      background-image: url("/images/shipping-boxes-in-front-of-red-brick.jpg");
      height: 100%;
      width: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      opacity: 0.6;
    }
  }
  &__wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    padding-top: 80px;
  }
  &__text {
    color: white;
    font-size: 1.1rem;
    @media (max-width: 414px) {
      font-size: 0.9rem;
    }
    &__heading {
      color: white;
      font-size: 3.5rem;
      font-weight: 500;
      margin-top: 20px;
      @media (max-width: 991px) {
        font-size: 2.5rem;
      }
      @media (max-width: 414px) {
        font-size: 1.9rem;
      }
    }
    &__body p {
      padding: 20px 0;
      font-size: 1.4rem;
      line-height: 1.8rem;
      opacity: 8;
      @media (max-width: 414px) {
        font-size: 1.1rem;
      }
    }
    .primary-btn {
      text-transform: uppercase;
      border-radius: 0;
      padding-right: 30px;
      background-color: $primary-color;
      color: $white;
      border: 1px solid transparent;
      &:hover {
        background-color: transparent;
        color: $white;
        border: 1px solid $white;
      }
    }
    @media (max-width: 763px) {
      p {
        //color: $black;
      }
    }
  }
  &__image {
  }
}
