@import '../../sass/theme/theme-variables';

.banner {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  &__bg {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(
      ellipse farthest-side at 100% 100%,
      #1cafc6 20%,
      #012690 110%
    );
    &__img {
      height: 100%;
      width: 100%;
      background-image: url('/images/abstract-light-fixture.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      opacity: 0.1;
    }
  }
  &__wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
  }
  &__text {
    color: white;
    font-size: 1.1rem;
    z-index: 1;
    @media (max-width: 414px) {
      font-size: 0.9rem;
    }
    &__headline {
      color: white;
      font-weight: 500;
      letter-spacing: 1.5px;
      text-transform: uppercase;
    }
    &__heading {
      color: white;
      font-size: 5.5rem;
      font-weight: 500;
      margin-top: 20px;
      @media (max-width: 414px) {
        font-size: 2.1rem;
      }
    }
    &__body p {
      padding: 20px 0;
      font-size: 1.5rem;
      line-height: 2.6rem;
      a {
        color: $white;
        margin: 4px;
        position: relative;
        &:after {
          content: '';
          background: $white;
          position: absolute;
          bottom: -2px;
          left: 0;
          width: 100%;
          height: 2px;
        }
        &:hover {
          color: $red;
          &:after {
            content: '';
            background: white;
            position: absolute;
            bottom: -2px;
            left: 0;
            width: 0;
            height: 2px;
            animation: underline 0.2s linear;
          }
        }
      }
      @media (max-width: 414px) {
        font-size: 1.1rem;
      }
    }
    .primary-btn {
      text-transform: uppercase;
      border-radius: 0;
      padding-right: 30px;
      background-color: $primary-color;
      color: $white;
      border: 1px solid transparent;
      &:hover {
        background-color: transparent;
        color: $white;
        border: 1px solid $white;
      }
    }
  }
  &__chord {
    position: absolute;
    top: 0;
    right: -40%;
    height: 100%;
    width: 100%;
    @media (min-width: 1600px) {
      right: -10%;
    }
  }
}

.blink {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

@keyframes underline {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}
